h1 {
  margin-bottom: 3.2em;
       text-transform: uppercase;
         font-weight: 200;
}
h2{     text-align:justify;
         font-weight: 200;}
h3{
  text-align:right;
   margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5em;
   }

p {
    text-align:justify;
}

.title h1 {
  margin-bottom: 0px;
  margin-top: 3.2em; }
