<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 


    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Thanks for visiting us!</h1>
        <p class="lead blog-description">We are always looking for partners.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">From The Editor</h2>
            <p class="blog-post-meta">August 7, 2018 by <a href="http://www.twitter.com/apforce">Jordan</a></p>
<h3>A different way to see your "slush pile"</h3>
<p>For authors, it's truly a nightmare. A painstakingly crafted query letter could be rejected or worse, ignored. The correct market for a story hides among lists of publishers on Duotrope and other markets, and if an author chooses the wrong ones their story remains unpublished forever.</p>
<p>For some publishers, the submissions are given detailed rejection letters, some with suggestions for improvement. Not every editor will give you great rejection letter, however. I personally give detailed rejection letters, but I'm sure there will be submissions that slip through the cracks and get something less than what the author wanted.</p>
<p>My way of looking at the submissions contributes to a more healthy slush pile attitude. I accept every submission for publication with a complete manuscript that follows my <a href="/ten-minute-pitch">submission guidelines</a>. It works for me, provided I follow my guidelines perfectly.</p>
<h3>Publishing more author's submissions</h3>
<p>Authors don't want to be rejected. Nothing makes them more inspired to be better than finding new readers and being put on bookshelves. Authors play an important role in promoting their work. That's why I view each author as a valuable asset as soon as I reply back with an acceptance letter. Copypasta's author network grows with each new book I publish.</p>
<p>I want to help authors by accepting their submission as long as it follows two criteria. One, they read and follow my submission guidelines exactly. Two, they have a completed manuscript ready for emailing me. This extra level of trust that I place on authors is the key to unlocking their success. Some of the authors have been working without a publisher far too long, and I introduce them to the the market by providing them with excellent publishing services and joining them with my publishing strategy for Copypasta. We both benefit.</p>
<h3>Focusing submission guidelines to remove unpublishable submissions</h3>
<p>The task of the publisher is to reduce the number of submissions that do not fit the criteria for what you're publishing. Offering a website that contributes to a clear understanding of what you're looking for will help reduce unwanted submissions.
There is another rule that I follow when I'm accepting submissions. I must increase the number of publishing opportunities I provide. That means publishing a wider range of content, from poetry to short stories and weblogs and more. I think by opening up the publisher's library to different kinds of books will improve any publisher's chance of success.</p>
<p>I'm evolving my submission guidelines to filter the valuable ones from the worthless ones. If an author doesn't follow my criteria (follow submission guidelines and provide a complete manuscript), I must view them as unpublishable.</p>
<h3>Allowing authors to filter their own submissions</h3>
<p>Editors may also filter the "slush pile" by giving authors an opportunity to improve their submission and reply back. I require a special statement in the subject line for my submissions (Ten Minute Pitch.) That way, I know they read the guidelines and are serious about their submission. If they don't include the subject, I let them know to resubmit.</p>
<p>I can also reply back with what their submission is missing. I have a list of things to include in the submission on my website. I can simply not accept an author until they have everything I want, and if they aren't right for me I won't ever get an acceptable submission.</p>
<p>The value of the author shows with this strategy. You must know as a publisher the author comes with a drive and motive that can turned into great books. The author is an indie publisher's best friend, and you can even use them to improve your list of publications.</p>
<h3>Publisher's new role in the online environment</h3>
<p>Most of the publishing tools online are free to use, which gives a publisher an opportunity to really excel in the creative environment of book making. A new book can be published in as little as one day. By maximizing a publisher's creative output, you can use these extra resources to expand your business in all directions.
Ebooks and paperbacks can work together to increase sales with Matchbook by Amazon. On Smashwords, you can provide multiple formats for download of your book. Use extra resources saved on media costs by providing a free or paid app.</p>
<p>I'm a one-man editing team and I have multiple creative outlets for Copypasta to interact with consumers. My strategy is to create a giant web or net of Copypasta content and capture the audience by making myself available to the public. We have a friendly relationship with authors and want to increase our number of partners.</p>


<h3>Helping find self published authors</h3>
<p>You may also find an ally in self published authors. I <a href="https://www.caesarnapleswiki.org/contact/promotions">promote </a>them on my social media website for free. As a publisher, you might find your place in providing help to self published authors. You may promote them alongside your books. You may offer your publishing services to them for free. Or you may help your own authors self publish in the future.</p>
<p>For indie publishers, the publishing process is very much like self publishing. I started out with self publishing, and evolved to publish more works. The self published author is a publisher's best friend, because they connect with both their product and the audience they cater to. We can learn a lot from self publishers and even work alongside them. Especially if the author is willing to partner with your company.</p>
<h3>Social media marketing is easier than ever</h3>
<p>Authors and publishers can sell their books online through social media. What I do is improve an author's social media presence by providing them beautiful pages to share their work with readers. Many of the online retailers will need a landing page for your work. I help authors by providing practice forms for them to work on promoting their works on their own. I also direct traffic through social media to my network of content.</p>
<p>My point here is that online publishing has enabled a publisher to become a huge creative force. There is nothing limiting us now, with computer technology making media creation easy and social media allowing anyone to be their own marketing expert. We hope you consider joining us on your book's journey into the libraries of the world</p>.

      </div>        <a href="#" align="right">Back to top</a>
          <!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
          <img src="images/bio.jpg" class="resize_books"
            <h4>About</h4>
            <p>By Jordan Jones, Copypasta editor</p>
            <p><em>I've linked my self published books on this page.</em></p>
          </div>
          <div class="sidebar-module">
          <a href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki/ebook/product-23214871.html"><img class="resize_books" src="/images/wiki.jpg" /></a>
          </div>
          <div class="sidebar-module">
          <a href="https://www.smashwords.com/books/view/411410"><img class="resize_books" src="/images/cult.png"/></a>

          </div>
          <div class="sidebar-module">
          <a href="https://www.smashwords.com/books/view/755098"><img class="resize_books" src="/images/smm.png" /></a>

          </div>
          <div class="sidebar-module">
          <a href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki-2/ebook/product-23544307.html"><img class="resize_books" src="/images/wiki2.jpg"/></a>

          </div>
          <div class="sidebar-module">
          <a href="https://www.smashwords.com/books/view/754519"><img class="resize_books" src="/images/darkbat.jpg"/></a>

          </div>
          <div class="sidebar-module">
          <img class="resize_books" src="/images/lowerlogo.png" />

          </div>
          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


    <div class="container">

 
        <% include footer %>
    </div>
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
