<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <p> <img class="resize_books" src="images/star.jpg"/></p>
    
        <h2>Star Liner</h2>
        <p>A journey into space. The perfect companion during your earthly travels. Enter the world of space travelers and their mundane jobs. Unravel the mystery aboard the ship. Sink your teeth into this item born of the author's science fiction expertise.</p>
        <p>
            <a class="btn btn-default" href="https://www.amazon.com/dp/B07DPW7GFW" role="button">Buy now
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
    <p> <img class="resize_books" src="images/stories.jpg"/></p>
        <h2>Stories of High Strangeness</h2>
        <p>What kind of personality hosts a radio show about the darkest American secrets ever imagined? Marc Shapiro brings his classic take on the persona of man, who is devilish and dark, himself. In the end, we gain entry into the secret garden of his twisted mind with this short story collection by this experienced story crafter.</p>
        <p>
            <a class="btn btn-default" href="http://a.co/3vnbNjD" role="button">Buy now
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <p> <img class="resize_books" src="images/bloodland.jpg"/></p>
    
        <h2>Bloodland Tales</h2>
        <p>From forever ago.

A life form deep under the surface of reality. 

A prolonged exposure photograph of hell. 

The lens through with author Hewitt sees us all is bloody with our organs.

We seek to learn of the place in our nightmares, imagined out of fear and anxiety. 

The author's den.</p>
        <p>
            <a class="btn btn-default" href="https://www.amazon.com/dp/B07DPSMCTH" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div>
</div>