<!-- Example row of columns -->
<div class="row card purple lighten-4 text-center">
    <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/star.jpg"/></p>
    
        <h2>Star Liner</h2>
        <p>The crew of the Webelos launch a mystery during spaceflight that is only solved when someone on the ship observes something completely unexplained - and the entertainer, Stot, questions his humanity when the secret is finally revealed.</p>
        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/890195" role="button">Buy now
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
    <p> <img class="card zdepth-6 focus resize_books " src="images/morpheus.jpg"/></p>
        <h2>Dreams of Morpheus</h2>
        <p>The interoperative code of our lives is secretive to us. Open-minded people cannot even see the lines of speech that drive us. We may analyze the "demon" and his placement, hidden, in our lives but only through the recourse of conversation will we be delivered. Paul Harris and M. J. Hewitt both exercised their talent in revealing an emotive, natural display of understanding while they created this book. The ultimate collection in perfect, synchronistic order, you may view a speechless beauty somewhere in the ebook.</p>
        <p>
            <a class="btn focus btn-default" href="https://www.amazon.com/Dreams-Morpheus-sequel-Bloodland-Tales-ebook/dp/B07NQLTPXD" role="button">Buy now
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/bloodland.jpg"/></p>
    
        <h2>Bloodland Tales</h2>
        <p>From M. J. Hewitt, a horror author who spreads the demise of his spirit in every bone-sucking chapter. His intense ruminations on dark spiritual forces contain the potion to convert us into the archons of hell.</p>
        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/890154" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div></div>
    <div class="row card purple lighten-4 text-center">
    <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/cult.png"/></p>
    
        <h2>The Cult</h2>
<p>A teenage boy ventures through a world devastated by a drug known as Chem 1 and eventually finds success he never expected.</p>        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/411410" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div>
        <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/wiki.jpg"/></p>
    
        <h2>Caesar Naples Wiki</h2>
        <p>Here is the latest example of Caesar Naples' writing. The imaginary staff at the Wiki have analyzed nearly every piece for your entertainment. Including The Cult novelette and close to 100 flash fiction entries. Don't forget to check out the art inside.</p>
        <p>
            <a class="btn focus btn-default" href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki/ebook/product-23214871.html" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div>
        <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/wiki2.jpg"/></p>
    
        <h2>Caesar Naples Wiki 2</h2>
        <p>From even further out there in the reaches of space comes celebrated author Caesar Naples, hidden from view. He's been found by Caesar Naples Wiki and his revealing stories about the nature of space and time are all here. Take some time to really get out of the norm with this flash fiction collection by author Caesar Naples
        </p>
        <p>
            <a class="btn focus btn-default" href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki-2/ebook/product-23544307.html" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div></div><div class="row card purple lighten-4 text-center">
        <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/smm.png"/></p>
    
        <h2>Social Media Marketing Book</h2>
        <p>Caesar Naples comes forward with his first entry into the Copypasta Publishing library. He offers sound tips that have stood the test of time for social media marketing campaigns. He also delves into the extra world of paranoia and delusion to make some bold claims about reality.</p>
        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/755098" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div>
            <div class="col-md-4">
        <p> <img class="card zdepth-6 focus resize_books " src="images/darkbat.jpg"/></p>
    
        <h2>Dark Bat</h2>
        <p>A supernatural adventure that takes you across the farm and deep into the mind of a few resting Dark Bats.</p>
        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/754519" role="button">Buy now
                &raquo;</a>
        </p>
       </div>
            <div class="col-md-4">
        <p> <img class="resize_proj" src="images/proj.jfif"/></p>
    
        <h2>Projector</h2>
        <p>Reading the call to action made me sad. The note even mentioned Chicago, the town which has so much importance to me. I felt like it was too popular to be real. I think that's my fault. Will I be the psychologist I've been striving to become? To help the famous? To ruin the activists' day?</p>
        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/932554" role="button">Buy now
                &raquo;</a>
        </p>
       
    </div>