<!-- Footer -->
<footer class="container-fluid " style="background-color: #eee; ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row ">

        <!-- Grid column -->
        
        <!-- Grid column -->
            <div class="col-md-4">          <br><h5 class="text-uppercase"><b>Copypasta Publishing</b></h5>and<br><img class="resize_wiki" src="images/wiki.png" /><br>
      created by <a href="https://www.caesarnapleswiki.org/contact">Jordan Jones</a>
    </div>
 
        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Links --><br>
            <h5 class="text-uppercase"><b>Links</b></h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.caesarnapleswiki.org">Caesar Naples Wiki</a><br><i>Social Media Website</i><br><br>
              </li>
              <li>
                <a href="https://duotrope.com/listing/24728">Duotrope Listing</a><br><i>Writer's Market</i>
              </li>
              </ul>

          </div>
          
          
          <div class="col-md-4">

            <!-- Links --><br>
            <h5 class="text-uppercase"><b>More Links</b></h5>

            <ul class="list-unstyled">
             <li>
                <a href="https://www.facebook.com/copypastapartners">Facebook</a><br><i>Social Media Marketing</i><br><br>
              </li>
              <li>
                <a href="https://www.smashwords.com/profile/view/caesarnaples">Smashwords</a><br><i>Indie Publishing</i>
              </li>
            
            </ul>

          </div>
          <!-- Grid column -->

     <div class="col-md-4">

          <!-- Content --><br>
          <p align="center"><a href="https://www.google.com/maps/place/Copypasta+Publishing/@34.0279393,-94.7369746,15z/data=!4m5!3m4!1s0x0:0x1c95b5864fa2b1da!8m2!3d34.0279393!4d-94.7369746">Broken Bow, Oklahoma</a><a href="tel:4059289705"><br><big>(405) 928-9705</big></a></p>
<p>Copyright 2018</p>

        </div>
      <!-- Grid row -->

    <!-- Footer Links -->

    <!-- Copyright -->

    <!-- Copyright -->
    </div>

  </footer>
  <!-- Footer -->
