<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        
        <!-- Grid column -->
            <div class="col-xs-3">
Copyright 2018<br> Jordan Jones<br>
      <a href="https://www.caesarnapleswiki.org/contact">Contact</a><br><img class="resize_wiki" src="images/wiki.png" />
    </div>
 
        <!-- Grid column -->
        <div class="col-xs-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.caesarnapleswiki.org!">Caesar Naples Wiki</a><br><i>Social Media Website</i><br>
              </li>
              <li>
                <a href=https://duotrope.com/listing/24728">Duotrope Listing</a><br><i>Writer's Market</i><br>
              </li>
              </ul>

          </div>
          
          
          <div class="col-xs-3">

            <!-- Links -->
            <h5 class="text-uppercase">More Links</h5>

            <ul class="list-unstyled">
             <li>
                <a href="https://www.facebook.com/copypastapartners">Facebook</a><br><i>Social Media Marketing</i><br>
              </li>
              <li>
                <a href="https://www.smashwords.com/profile/view/caesarnaples">Smashwords</a><br><i>Indie Publishing</i><br>
              </li>
            
            </ul>

          </div>
          <!-- Grid column -->

     <div class="col-xs-3">

          <!-- Content -->
          <h5 class="text-uppercase">Copypasta Publishing</h5>
          <p align="left"><br>102 1/2 N. Main Street<br>Broken Bow, Oklahoma<br>(405) 928-9705</p>

        </div>
      <!-- Grid row -->

    <!-- Footer Links -->

    <!-- Copyright -->

    <!-- Copyright -->
    </div>

  </footer>
  <!-- Footer -->
