<!DOCTYPE html>
<html lang="en">
<% include header %>
<body style="background-color: #E83437;" >
      <% include navbar %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome back.</h1>
            <p align="left">Copypasta makes its way around the Internet as users copy and paste text blurbs in social media that appear to be spam but are posted by human users. Our ebooks are selected for publication with concern only for the human appeal of the complete work. When an author finishes a book, they often seek acceptance by a traditional publisher like us. However, we don't adhere to predetermined publishing goals. We make publishing a book as simple as  writing it. We have an unlimited supply of books to publish from upcoming authors, while we build a great library for Copypasta Publishing.</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="ten-minute-pitch">Interested?
                 </a>
            </p>
        </div>
    </div>
 
    <div class="container">
        <% include content %>
        <hr>
 </div>
 <div class="container-fluid">
        <% include footer %></div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>