<!DOCTYPE html>
<html lang="en">
<% include header %>
<body style="background-color:#e1e4e8"> 
  
    <% include navbar %>
 <a href='images/huge.png'>
<img src='images/huge.png' class="container">38M PNG</img>
</a>

    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


   <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
