<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 <table>
<tr><td>Title</td><td>Author</td><td>Subject</td></tr>
<% for(var i=0; i<results.rows.length; i++) {%>
  <tr><td>results.rows[i].title</td><td>results.rows[i].author</td><td>results.rows[i].subjects</td></tr>
  <% } %>
</table>

    <div class="container">

        <% include footer %></div>


            
      



   <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
