<div class="navbar-wrapper" style="background-color: #4F474E;">

        <nav class="navbar brown-text purple lighten-4 navbar-inverse navbar-fixed-top " style="background-color: #4F474E;">
          <div class="container brown-text purple lighten-4" >
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a  href="/"><img class="resize_logo" src="images/lowerlogo.png" class="card z-depth-4"/></a>
            </div>
            <div id="navbar" class=" navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                    <li ><a  class="blue-text text-darken-3" href="/"><big>Introduction</big></a>

                    <li ><a class="blue-text text-darken-3"  href="/ten-minute-pitch"><big>Submission Guidelines</big></a>
                    </li>
              </ul>
            </div>
          </div></div>
        </nav>
</div>