<!DOCTYPE html>
<html lang="en">
<% include header %>
<body style="background-color: #E83437;">
<% include navbar %>

      <div class="jumbotron nopadding">
        <h1>Ten Minute Pitch</h1>
        <p class="lead">Write us a query letter as if you only had ten minutes to share it. </p>
        <p><a class="btn btn-lg btn-success" href="http://queryshark.blogspot.com/" role="button">Query shark &raquo;</a></p>
      </div>
      
    <div class="col-lg-6" align="center"><p><h2>Send your query letter to:</h2><h3><a href="mailto:submissions@copypastapublishing.com">submissions at copypastapublishing dot com</a></h3>
    <p><b>Include "Ten Minute Pitch" in the subject line.</p></b><img class="resize_logo" src="images/lowerlogo.png"/></center>  
    </div>
    
    <div class="col-lg-6">
                      <center> <h1>Submission Guidelines</h1></center>
    
        <div class="col-md-4 well well-lg " >
     <h3>Response Time</h3>
    <p>We will try to respond with one quarter of a year or 3 months. If there's no response after 3 months, ask us again about your submission</p>
    </div>
        <div class="col-md-4 well well-lg">
    
                <h3>Word Length</h3>
          <p>Novelette: 14,000-17,000 words </p>
		  <p>Novel: 40,000-70,000 words </p>
		  <p>Short story: 5,000 words </p>
		  <p>Weblog: 3,000 words</p>
		  </div>
        <div class="col-md-4 well well-lg">
		  
		            <h3>Payment</h3>
          <p>Authors will be compensated with 35% of gross profit or another negotiated royalty plan.</p>
		  </div></div>
       <div class="container-fluid">
<div class="row well well-sm nopadding">
        <div class="col-md-4  well well-lg">
         
       <h3>Submission details</h3>
        <p>Reprints: Accepted</p>
<p>Email and mail submissions accepted</p>
<p>Email for querying editor</p>
<p>Word or Open Office files accepted, no PDF</p>
<p>Cover letter with author bio required</p>
<p>Simultaneous submissions accepted - yes</p>
<p>Multiple submissions accepted - yes</p>
<p>Accepting all year</p></ul></div>

        <div class="col-md-4  well well-lg">

          <h3>Genre</h3>
             <ul><li>Horror</li>
          <li>Science fiction</li>
		  <li>Urban Fantasy</li>
		  <li>Speculative Fiction</li>
		  <li>Romance</li>
          <li>Society/Culture</li>
          <li>Religion/Spirituality</li>
          <li>Looking for cover art in these genres</li>
          </ul></div>

        <div class="col-md-4  well well-lg">
          <h3>Types of Publication </h3>
          <ul><li>E-book, paperback, audiobook, and video</li>
          <li>Weblogs</li>
          <li>Novelettes, novellas, and novels</li>
          <li>Poetry books/collections</li>
          <li>Accepting audio version author's readings of books</li>
          </ul></div></div></div>

        <% include footer %>

            
      



   <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  </body>
</html>
