<!DOCTYPE html>
<html lang="en">
<% include header %>
<body style="background-color:#e1e4e8"> 
  
    <% include navbar %>
 

  
<div class="container">
      <div class="jumbotron purple lighten-3">
        <h1>Ten Minute Pitch</h1>
        <p class="lead">Write us a query letter as if you only had ten minutes to share it. </p>
      <a class="btn href="http://queryshark.blogspot.com/" role="button">Research query letters</a></div>
      </div><div class="container">
      
    <div class="card orange lighten-1" align="center"><p><h2>Send your query letter to:</h2><h3><a href="mailto:submissions@copypastapublishing.com">submissions at copypastapublishing.com</a></h3>
    <p><b>Include "Ten Minute Pitch" in the subject line.</p></b><img class="resize_logo" src="images/lowerlogo.png"/></center>  
    </div>
                     <center><h1>Submission Guidelines</h1></center></div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
     <h3>Response Time</h3>
    <p>We will try to respond with one quarter of a year or 3 months. If there's no response after 3 months, ask us again about your submission</p>
    </div>
        <div class="col-md-4">
    
                <h3>Word Length</h3><p>Flash Fiction: 200-1,000 words</p>

<p>Short Story: 5,000 words</p>

<p>Novelette: 14,000-17,000 words</p> 

<p>Novella: 17,000-50,000 words</p>

<p>Novel: 50,000-100,000 words</p>

<p>If you want to publish something small, consider allowing us to 
  <a href="https://www.caesarnapleswiki.org/promotions">promote your work </a>instead.
  </p>    </div>
          <div class="col-md-4">
      
                <h3>Payment</h3>
          <p>Authors will be compensated with 35% of gross profit or another negotiated royalty plan.</p>
      </div></div>
       
<div class="row">
    <div class="col-md-4">
          <h3>Types of Publication </h3>
          <ul><li>E-book and paperback</li>
          <li>Only complete manuscripts accepted</li>
          </ul></div>
    <div class="col-md-4">

          <h3>Genre</h3>
             <ul><li>Horror</li>
          <li>Science fiction</li>
      <li>Urban Fantasy</li>
      <li>Speculative Fiction</li>
      <li>Romance</li>
          <li>Society/Culture</li>
          <li>Religion/Spirituality</li>


          </ul></div>
    <div class="col-md-4">
         
       <h3>Submission details</h3>
      
        <p>Reprints: Not Accepted</p>
<p>Email and mail submissions accepted</p>
<p><a href="mailto:submissions@copypastapublishing.com">Email</a> for querying editor</p>
<p>Word or Open Office files accepted, no PDF</p>
<p>Cover letter with author bio required</p>
<p>Simultaneous submissions accepted - yes</p>
<p>Multiple submissions accepted - yes</p>
<p>Accepting all year</p></ul></div></div> </div>



        <% include footer %>


            
      
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


   <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
