<!DOCTYPE html>
<html lang="en">
<body>

    <div class="container" style="text-align: justify;">


      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">From The Editor</h2>
            <p class="blog-post-meta">April 26 by <a href="http://www.twitter.com/apforce">Jordan</a></p>
<h3>A safer place to post your most powerful thoughts and opinions</h3>
<p>When I realized I could heal people's minds with just a single phrase, I posted everything I could in a single list on a social site. </p>
<p>I built a community of what I thought of as "singularity therapy" that I thought would inspire others to solve emotional conflicts in their personal life.</p>
<p>I continued posting my greatest inspirations in short post threads. But as I continued to gain subscribers, there wasn't a single other post. It was as if I was the only one who could write Spoilers of the Universe.</p>
<h3>The Problem with Creativity on Social Media</h3>
<p>Individuals are scared to share their opinions in America online.</p>
<p>We talk in code and scrutinize every word we read because we're afraid of what is its source.</p>
<h3>A Weblogging Site Made From Copypasta</h3>
<p>When we post, we are careful to press the correct button. In our minds, there is no room for human error. We want to find a way where a poster can freely share information regularly to be stored for future perusal.</p>
<p>What if you could simply copy paste something and create original art?</p>
<h3>Truly Effortless, Beautiful Personal Weblogging Websites</h3>
<p>I've completed HTML and CSS learning on my own, and what I found is amazing. It's even therapeutic to write in HTML!</p>
<p>I'd like to turn what I learned about divs and CSS classes and make a tool which is a joy to use for making 100% custom pages for your weblogging journal.</p>
<p>There are countless CSS stylesheets and responsive, mobile and large screen compatible websites that look as amazing as the ones I made for Copypasta.</p>
<h3>Security and Permanent Data Are Important Too</h3>
<p>I'm working from the ground up to give America a site for writing you're not afraid to share.</p>
<p>I'm a one-man editing team and I have multiple creative outlets for Copypasta to interact with consumers. My strategy is to create a giant web or net of Copypasta content and capture the audience by making myself available to the public. We have a friendly relationship with authors and want to increase our number of partners. Simply gorgeous. Marvelous. Let's go, team.</p>

      </div>        <a href="#" align="right">Back to top</a>
          <!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 card amber lighten-4 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
          <img src="/static/images/bio.jpg" class="resize_books">
            <h4>About Copypasta</h4>
            <p>By Jordan Jones,  editor</p>

          </div>
          <div class="well-sm hoverable sidebar-module">
          <a href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki/ebook/product-23214871.html"><img class="resize_books" src="/static/images/wiki.jpg" /></a>
          </div>
          <div class="well-sm hoverable  sidebar-module">
          <a href="https://www.smashwords.com/books/view/411410"><img class="resize_books" src="/static/images/cult.png"/></a>

          </div>
          <div class="well-sm hoverable  sidebar-module">
          <a href="https://www.smashwords.com/books/view/755098"><img class="resize_books" src="/static/images/smm.png" /></a>

          </div>
          <div class="well-sm hoverable sidebar-module">
          <a href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki-2/ebook/product-23544307.html"><img class="resize_books" src="/static/images/wiki2.jpg"/></a>

          </div>
          <div class="well-sm hoverable sidebar-module">
          <a href="https://www.smashwords.com/books/view/754519"><img class="resize_books" src="/static/images/darkbat.jpg"/></a>

          </div>
          <div class="well-sm  sidebar-module">
          <img class="resize_logo" src="/static/images/lowerlogo.png" />

          </div>
          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  </body>
</html>
