{%include 'header.html'%}    <div class="purple white-text darken-2 container-fluid" >

    <form action="/pod" method="post"  >
              {{ form2.hidden_tag() }}

        <p>
            {{ form2.title.label }}<br>
            {{ form2.title(size=300) }}<br>
            </p>
                        {% for error in form2.title.errors %}
            <span style="color: red;">[{{ error }}]</span>{%endfor%}
        <p>
            {{ form2.author.label }}<br>
            {{ form2.author(size=300) }}<br>
           </p>
                       {% for error in form2.author.errors %}
            <span style="color: red;">[{{ error }}]</span>{%endfor%}
                <p>
            {{ form2.description.label }}<br>
            {{ form2.description(class="materialize-textarea") }}<br>
           </p>
                <p><center>{{ form2.submit(class="btn waves-effect waves-light", type="submit")}}</center></p>
    </form>
      </div>
