<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<body class="purple lighten-4">
{% include 'google.html' %}
   {%if current_user.username:%}<h4>Hi, {{ current_user.username }}! Begin here by adding the details of your book, and adding it to your book list.</h4>{%endif%}
    <div class="amber lighten-2 container" >
<form>s
      <div class="row">
        <div class="input-field col s6">
          <input id="title" type="text" class="validate">
          <label for="title">{{book.title}}</label>
        </div>
              <div class="input-field col s6">
          <input id="author" type="text" class="validate">
          <label for="author">{{book.author}}</label>
        </div>
      </div>
     
            <div class="row">
        <div class="input-field col s6">
          <textarea id="copyright" class="materialize-textarea"></textarea>
          <label for="copyright">{{book.copyright}}</label>
        </div>
                <div class="input-field col s6">
          <textarea id="introduction" class="materialize-textarea"></textarea>
          <label for="introduction">{{book.introduction}}</label>
        </div>      </div>
    </form>
  </div>
        
{% for chapter in book.chapters:%}
<div class="amber lighten-2 container" >
<form>
     
            <div class="row">
        <div class="input-field col s12">
          <textarea id="copyright" class="materialize-textarea"></textarea>
          <label for="copyright">{{chapter.text}}</label>
        </div>
                    </div>
    </form>
  </div>
        {%endfor%}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  </body>
</html>
