<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<body class="purple lighten-4">
{% include 'google.html' %}
   {%if current_user.username:%}<h4>Hi, {{ current_user.username }}! Begin here by adding the details of your book, and adding it to your book list.</h4>{%endif%}
    <div class="amber lighten-2 container" >

    <form action="" method="post">
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=300) }}<br>
            </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=300) }}<br>
           </p>
                <p>{{ form.submit() }}</p>
    </form></div>
                
        
          
        <ul>
{%for titles in all_books: %}
          <li>{{titles.books_title}} by {{titles.books_author}}</li>
          {%endfor%} 
        </ul>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  </body>
</html>
