<div id='profile-page-header' class='card'>
                <div class='card-image waves-effect waves-block waves-light'>
                </div>

                <div class='card-content'>
                  <div class='row pt-2'>
                      <div class='col s12 m1 right-align'><a href="https://www.facebook.com/copypastapartners">
                          <img class="hoverable" src="/static/images/lowerlogo.png" style='width:100px;height:100px'></img></a>
                    </div>

</div></div></div>
                    <div class='col s12 m3'>
                      <h4 class='card-title grey-text text-darken-4'>Copypasta Publishing</h4>
                      <p class='medium-small grey-text'>Indie Publisher</p>
                    </div>
                    <div class='col s12 m2 center-align'>
                      <h4 class='card-title grey-text text-darken-4'>Paul Harris, Matthew John Hewitt, Scott Branchfield</h4>
                      <p class='medium-small grey-text'>Authors</p>
                    </div>
                    <div class='col s12 m2 center-align'>
                      <h4 class='card-title grey-text text-darken-4'>Jordan Jones</h4>
                      <p class='medium-small grey-text'>Editor</p>
                    </div>
                    <div class='col s12 m2 center-align'>
                      <h4 class='card-title grey-text text-darken-4'>Broken Bow, Oklahoma</h4>
                      <p class='medium-small grey-text'>Publisher Location</p>
                    </div>
                  </div>
                </div></div>
