<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>{{ title }}</title>
<link rel='stylesheet' href="/static/stylesheets/style.css" />
<link rel='stylesheet'  href="/static/stylesheets/jumbotron-narrow.css" />

<!-- Latest compiled and minified CSS -->
<link rel='stylesheet' href='/static/stylesheets/bootstrap.min.css'>
<link rel='stylesheet'  href="/static/stylesheets/materialize.css"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}"><!-- Global site tag (gtag.js) - Google Analytics -->  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/parallax-script.js')}}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-1');
</script>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

</head>
