<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body style="background-image:no-repeat;background-position:0% 0%" class=" gradient-45deg-purple-deep-orange">{% include 'google.html' %}
<div style="margin-bottom: 75px">

{% include 'navbar.html' %}</div>     <div class="container">
        {%include 'subs.html'%}</div>   {%include 'books.html'%}



<!--
<div class="purple container-fluid lighten-4"><center><h3>Post titles from <a href="https://www.reddit.com/r/writing">r/writing</a></h3></center>
<div class="nav nav-pills">{%for self in phrases:%}  <a href="{{self.uri}}"><div class=" zdepth-4 hoverable card-sm orange"><h4 class="truncate  " >
	 {{self.body}}</h4></div></a>{%endfor%}
</div></div></div>
-->



<!-- Place <div> tag where you want the feed to appear -->
<!-- Place <div> tag where you want the feed to appear -->

{% include 'footer.html' %}
</body>
</html>
