 <div class="jumbotron blue darken-2 z-depth-4 "style="margin-bottom: 0px"> <h1>{{title}} </h1></div><div style="margin-top:0px" class="container-fluid z-depth-2 blue lighten-4 ">
<form action="" method="post">
		            {{form.csrf}}
<div class="input white-text text">
                {{ form.name.label }} {{form.name}}</div>
<div class="input submit">
                <input class="btn purple" type="submit" value="Submit"></div><br><br>
</form></div></div><div class=" container-fluid">
{%for self in phrases:%}<form  action="/bot" class="chip" method="post">
     <button class="card valign-wrapper center-align my-wrapper gradient-45deg-purple-deep-orange hoverable yellow-text truncate" type="submit"><big>{{self.body}}</big><span class="hide">{{form2.sub(class="hide", value=self.body)}}
{{form2.kw(class="hide", value="["+self.title+"](https://www.reddit.com/"+self.uri+")")}}</span></button></form>{%endfor%}


</div>

 <!-- Dropdown Trigger -->
        {%include 'subs.html'%}
