<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body style="background-color:#e1e4e8">

    {% include 'navbar.html' %}<div class="jumbotron circle blue lighten-3 white-text flow-text">
<h1 class="blue darken-3">{{title}}</h1></div><div class="collection"><ul>{%for self in phrases:%}
	<li class="collection-item blue lighten-3 chip z-depth-4  yellow white-text darken-4"><a class="hoverable" href="https://www.reddit.com/r/{{sub}}/search?q={{self}}">{{self}}</a></li>{%endfor%}</ul></div>

</div></div><ul class="collection"
><li class="collection-item blue lighten-3">funny<a href="https://www.copypastapublishing.com/keywords/r/funny " ><span class="secondary-content">Keywords</span></a>
<li class="collection-item blue lighten-3">AskReddit<a href="https://www.copypastapublishing.com/keywords/r/AskReddit" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">todayilearned<a href="https://www.copypastapublishing.com/keywords/r/todayilearned" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">worldnews<a href="https://www.copypastapublishing.com/keywords/r/worldnews " ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">Science<a href="https://www.copypastapublishing.com/keywords/r/Science" ><span class="secondary-content">Keywords</span></a> 

<li class="collection-item blue lighten-3">pics<a href="https://www.copypastapublishing.com/keywords/r/pics " ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">gaming<a href="https://www.copypastapublishing.com/keywords/r/gaming " ><span class="secondary-content">Keywords</span></a>
<li class="collection-item blue lighten-3">IamA<a href="https://www.copypastapublishing.com/keywords/r/IAmA " ><span class="secondary-content">Keywords</span></a>
<li class="collection-item blue lighten-3">videos<a href="https://www.copypastapublishing.com/keywords/r/videos " ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">movies<a href="https://www.copypastapublishing.com/keywords/r/movies " ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">aww<a href="https://www.copypastapublishing.com/keywords/r/aww " ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">Music<a href="https://www.copypastapublishing.com/keywords/r/Music " ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">blog<a href="https://www.copypastapublishing.com/keywords/r/blog" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">gifs<a href="https://www.copypastapublishing.com/keywords/r/gifs" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">news<a href="https://www.copypastapublishing.com/keywords/r/news" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">explainlikeimfive<a href="https://www.copypastapublishing.com/keywords/r/explainlikeimfive"><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">askscience<a href="https://www.copypastapublishing.com/keywords/r/askscience" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">EarthPorn<a href="https://www.copypastapublishing.com/keywords/r/EarthPorn" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">books<a href="https://www.copypastapublishing.com/keywords/r/books " ><span class="secondary-content">Keywords</span></a>


<li class="collection-item blue lighten-3">television<a href="https://www.copypastapublishing.com/keywords/r/television " ><span class="secondary-content">Keywords</span></a>


<li class="collection-item blue lighten-3">mildlyinteresting<a href="https://www.copypastapublishing.com/keywords/r/mildlyinteresting" ><span class="secondary-content">Keywords</span></a> 

<li class="collection-item blue lighten-3">Showerthoughts<a href="https://www.copypastapublishing.com/keywords/r/Showerthoughts" ><span class="secondary-content">Keywords</span></a> 
<li class="collection-item blue lighten-3">LifeProTips<a href="https://www.copypastapublishing.com/keywords/r/LifeProTips" ><span class="secondary-content">Keywords</span></a> 

<li class="collection-item blue lighten-3">Space<a href="https://www.copypastapublishing.com/keywords/r/space" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">DIY<a href="https://www.copypastapublishing.com/keywords/r/DIY" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">Jokes<a href="https://www.copypastapublishing.com/keywords/r/Jokes" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">gadgets<a href="https://www.copypastapublishing.com/keywords/r/gadgets" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">nottheonion<a href="https://www.copypastapublishing.com/keywords/r/nottheonion" ><span class="secondary-content">Keywords</span></a> 
<li class="collection-item blue lighten-3">sports<a href="https://www.copypastapublishing.com/keywords/r/sports" ><span class="secondary-content">Keywords</span></a>

<li class="collection-item blue lighten-3">food<a href="https://www.copypastapublishing.com/keywords/r/food " ><span class="secondary-content">Keywords</span></a>
<li class="collection-item blue lighten-3">tifu<a href="https://www.copypastapublishing.com/keywords/r/tifu" ><span class="secondary-content">Keywords</span></a></li></ul>
    		    	
{% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


   <!-- /collection-item blue lighten-3 -->

  </body>
</html>
