<!DOCTYPE html>
<html lang="en">
{% include 'header.html'%}
<body class="grey lighten-2"> 
  
    {% include 'navbar.html' %}
 
      <div class="container-fluid"><div class="card">{% for a in text:%}
        {{a|safe}}
{% endfor%}     </div><div>
{% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


   <!-- /collection-item -->

  </body>
</html>
