
  <nav class='navbar white-text purple  navbar-inverse  navbar-top '>
    <div class="nav-wrapper" id="breadcrumbs-wrapper">
         <div class="gradient-45deg-purple-deep-orange">
             <div><div> <div class="row">
                <div class="col s12 m12 l10"><a href="/"><img style="margin-left: 20px;" class=" resize_logo" src="/static/images/lowerlogo.png"/></a>
                  <h5 class="breadcrumbs-title">
 {%if uri:%}URI Post - {%endif%}{%if kind:%}{{kind}} </h5>{%endif%}<h6 class="white-text"> {%if login[0]==True:%}You are logged in as {{login[1]}}.{%else:%}You are logged in as CaesarNaples2.{%endif%}</h6>

                  <ol class="breadcrumbs right">
                    <li {%if kind=="all":%} class="active white-text  "{%else:%} class="disabled"{%endif%}><a  href="/admin">Pod</a></li>
                    <li {%if kind=="users":%} class="active white-text "{%else:%} class="disabled"{%endif%}> <a href="/admin/users">Users</a></li>
                    <li {%if kind=="books":%} class="active white-text  "{%else:%} class="disabled"{%endif%}><a href="/login">Login</a></li>
                    <li  {%if kind=="subs":%} class="active white-text  "{%else:%} class="disabled"{%endif%}><a href="/admin/subs">Subs</a></li> </ol>
                </div></div></div></div></div></div></nav>