<!DOCTYPE html>
<html lang="en">
{% include 'header.html'%}
<body class="grey lighten-4"> 
  {% include 'google.html' %}
    {% include 'navbar.html' %}
 
      <div class="jumbotron purple lighten-2 z-depth-4">
        <h1>Ten Minute Pitch</h1>
        <p class="lead">Write us a query letter as if you only had ten minutes to share it. </p></div>     <div class="container-fluid center"><div class="container"
      
<p><h2>Send your query letter to</h2>  <a href="mailto:submissions@copypastapublishing.com"><div class=" btn btn-sm accent-3 green white-text z-depth-3 text-darken-3 card" > submissions</a></div><br><br>
    <b>Include "Ten Minute Pitch" in the subject line.</b>  </div>
  
  </div>
  <
  <div class="container text-center">
 <div class="card z-depth-3 pink brown-text text-center lighten-4 ">
<div class="center text-orange">
         <h1 class="blue-text">Submission Guidelines</h1>
    <div class="row">
        <div class="card-content col-md-4">
     <h3>Response Time</h3>
    <p>We will try to respond with one quarter of a year or 3 months. If there's no response after 3 months, ask us again about your submission</p>
    </div>
        <div class="card-content col-md-4">
    
                <h3>Word Length</h3><p>Flash Fiction: 200-1,000 words</p>

<p>Short Story: 5,000 words</p>

<p>Novelette: 14,000-17,000 words</p> 

<p>Novella: 17,000-50,000 words</p>

<p>Novel: 50,000-100,000 words</p>

<p>If you want to publish something small, consider allowing us to 
  <a href="https://www.caesarnapleswiki.org/promotions">promote your work </a>instead.
  </p>    </div>
          <div class="card-content col-md-4">
      
                <h3>Payment</h3>
          <p>Authors will be compensated with 35% of gross profit or another negotiated royalty plan.</p>
      </div></div>
       
<div class="row">
    <div class="card-content col-md-4">
          <h3>Types of Publication </h3>
          <ul><li>E-book and paperback</li>
          <li>Only complete manuscripts accepted</li>
          </ul></div>
    <div class="card-content col-md-4">

          <h3>Genre</h3>
             <ul><li>Horror</li>
          <li>Science fiction</li>
      <li>Urban Fantasy</li>
      <li>Speculative Fiction</li>
      <li>Romance</li>
          <li>Society/Culture</li>
          <li>Religion/Spirituality</li>


          </ul></div>
    <div class="card-content col-md-4">
         
       <h3>Submission details</h3>
      
        <p>Reprints: Not Accepted</p>
<p>Email and mail submissions accepted</p>
<p><a href="mailto:submissions@copypastapublishing.com">Email</a> for querying editor</p>
<p>Word or Open Office files accepted, no PDF</p>
<p>Cover letter with author bio required</p>
<p>Simultaneous submissions accepted - yes</p>
<p>Multiple submissions accepted - yes</p>
<p>Accepting all year</p></ul></div></div> </div>
</div>
</div>


            
      
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


   <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>