<!DOCTYPE html>
<html lang="en">
<% include header %>
<body class="grey lighten-4"> 
  
    {% include navbar.html %}
 
      <div class="jumbotron orange">
        <h1>Ten Minute Pitch</h1>
        <p class="lead">Write us a query letter as if you only had ten minutes to share it. </p></div>     <div class="container-fluid center"><div class="container"
      
<p><h2>Send your query letter to</h2> <div class="purple responsive-txt lighten-4 btn-large" >  <a href="mailto:submissions@copypastapublishing.com">submissions</a></div><br><br>
    <b>Include "Ten Minute Pitch" in the subject line.</b>  </div>
  </div>
  <div class="container text-center">
 <div class="card zdepth-5 blue brown-text text-center lighten-4 ">
<div class="center text-orange">
         <h1 class="blue-text">Submission Guidelines</h1>
    <div class="row">
        <div class="card-content col-md-4">
     <h3>Response Time</h3>
    <p>We will try to respond with one quarter of a year or 3 months. If there's no response after 3 months, ask us again about your submission</p>
    </div>
        <div class="card-content col-md-4">
    
                <h3>Word Length</h3><p>Flash Fiction: 200-1,000 words</p>

<p>Short Story: 5,000 words</p>

<p>Novelette: 14,000-17,000 words</p> 

<p>Novella: 17,000-50,000 words</p>

<p>Novel: 50,000-100,000 words</p>

<p>If you want to publish something small, consider allowing us to 
  <a href="https://www.caesarnapleswiki.org/promotions">promote your work </a>instead.
  </p>    </div>
          <div class="card-content col-md-4">
      
                <h3>Payment</h3>
          <p>Authors will be compensated with 35% of gross profit or another negotiated royalty plan.</p>
      </div></div>
       
<div class="row">
    <div class="card-content col-md-4">
          <h3>Types of Publication </h3>
          <ul><li>E-book and paperback</li>
          <li>Only complete manuscripts accepted</li>
          </ul></div>
    <div class="card-content col-md-4">

          <h3>Genre</h3>
             <ul><li>Horror</li>
          <li>Science fiction</li>
      <li>Urban Fantasy</li>
      <li>Speculative Fiction</li>
      <li>Romance</li>
          <li>Society/Culture</li>
          <li>Religion/Spirituality</li>


          </ul></div>
    <div class="card-content col-md-4">
         
       <h3>Submission details</h3>
      
        <p>Reprints: Not Accepted</p>
<p>Email and mail submissions accepted</p>
<p><a href="mailto:submissions@copypastapublishing.com">Email</a> for querying editor</p>
<p>Word or Open Office files accepted, no PDF</p>
<p>Cover letter with author bio required</p>
<p>Simultaneous submissions accepted - yes</p>
<p>Multiple submissions accepted - yes</p>
<p>Accepting all year</p></ul></div></div> </div>
</div>
</div>{% include blog.html %}

            
      
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


   <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-2');
</script>
  <title>Embed this form </title>


</head><body>          <h1 class="banner">Welcome Back.</h1>


<!--<form method="GET" action="/hello/"+form.name>
    <label>First Name

     {{ form.name(size=200) }}
</label>

<br />
<label >Last Name
    <input type="text" />
</label>
<br /></div><label for="title">Title
    <input id="title" type="text" />
</label>
<br />
<label for="desc">Description
    <input  id="desc" type="text" />
</label>
<br />

        </div>

        </form>-->
    <div class="row">

<div class="col s3 m3"><div class="card-horizontal blue darken-2 hoverable zdepth-4">
<div class="card-content white-text">
    <big>Your focus as tester will be. . .</big><bold>
<ol>
<li>    Design and look of a literature weblog being built on the advanced Google Cloud platform
</li>
<li>Perfecting ease of use of new features, for young (5th-12th grade) writers
</li>
<li>Safety awareness in design to prevent privacy breaches, adult content, and menacing user behavior
</li>
<li>Contribute your new feature ideas and we might implement them
</li>
<li>Help our website growth online, until we have regular users that enjoy its services
</li>
<li>Engineering future social networks to be more wonderful through design and planning
</li>
<li>Providing feedback on the direction the website takes over time as it's developed
</li>
</ol></bold></div>

        <div class="card purple lighten-1">
                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2Fapforce&sa=D&sntz=1&usg=AFQjCNEiAQdexlkurcVIEO3LKM7QTtKoow">
TWITTER</a></div>
         <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2FJordan-Jones-349426978830932%2F&sa=D&sntz=1&usg=AFQjCNFuYYe8byLW6O3P29pPLAIdv_BBqg">
FACEBOOK</a></div>
 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fapforcear-blog.tumblr.com%2F&sa=D&sntz=1&usg=AFQjCNErntIxBMNtBDm37srdwe2gje6qGA">
        TUMBLR</a></div>
                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.wattpad.com%2Fuser%2Foaflopean&sa=D&sntz=1&usg=AFQjCNHHq3bOue4U9qFY0ywHxFlVKuYeVQ">
         WATTPAD</a></div>
                 <div class="card-action">
     <a href="https://www.wattpad.com/user/copypastapublishing">
         COPYPASTA</a></div>

                 <div class="card-action">
     <a href="https://www.goodreads.com/kublakhan">
         GOODREADS</a></div>

                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Foaflopean%2F&sa=D&sntz=1&usg=AFQjCNGvL3251KJFPgDlR1AgOcOEd3FIcQ">INSTAGRAM</a></div>

          <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.smashwords.com%2Fprofile%2Fview%2Fcaesarnaples&sa=D&sntz=1&usg=AFQjCNEGm6m_vJfAFrKEV7eaRkF-L05RzA">SMASHWORDS</a></div>


<!--        <div class="white-text btn"><a class="white-text" href="/hello/applicant">Apply</a></div>
        <div class="white-text btn"><a class="white-text" href="/projects/">Self Publish</a></div>
        <div class="white btn"><a class="orange-text" href="/entries">Entries</a></div></div>-->

</div><div class="col s9 m9">       <div class="container hoverable">   <div class="btn white">  <a href="/hello/testers">
         Hello, testers!</a></div>
         <div class="btn purple lighten-1 ">
     <a class="white-text" href="https://www.copypastapublishing.com/ten-minute-pitch">
         Ten Minute Pitch</a> </div>
        <div class="btn purple lighten-1">
     <a class="white-text" href="https://www.copypastapublishing.com/invitation/language-projects">
         Language Projects</a></div>
          
<form action="/" method="post">

<div class="input text">
                {{ form.first.label }} {{ form.first }}</div>

                <div class="input text">
                {{ form.last.label }} {{ form.last}}</div>
                <div class="input text">
                {{ form.title.label }} {{ form.title }}</div>
                <div class="input text">
                {{ form.desc.label }} {{ form.desc}}</div>
                <div class="input text">
                {{ form.pseudonym.label }} {{ form.pseudonym }}</div>
<div class="input submit">
                <input type="submit" value="Submit"></div>
</form>
             </div>
</div></div>
</body>
</html>