    <!DOCTYPE html>
<html lang="en">
{% include 'header.html' %} <script>
  fbq('track', 'CompleteRegistration');
</script>{% include 'navbar.html' %}<div class="container" style="margin-top:40px">
<div class="well"><h2>Register Here </h2>
<p>Use your Reddit handle if you want to crosspost to Reddit.com </p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><center>
{{ form.submit(class="btn btn-sm" , id='submitButton') }}</center><script type="text/javascript">
document.getElementById('submitButton').addEventListener('click', function() {
  fbq('track', 'CompleteRegistration', {
    value: 0.00,
    currency: 'USD',
  });

}, false);
</script></p>
    </form></div></div>{% include 'firebase.html'%}
{% include 'footer.html' %}

