<div class="col s2 m6 l6">
                  <a class="btn-sm dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-activates="dropdown1">
                    <span class="hide-on-small-onl">Settings</span>
                  </a>
                  <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!" class="grey-text text-darken-2">Bot<span class="badge">1</span>Book</a>
                    </li>
                    <li><a href="#!" class="grey-text text-darken-2">{{username}}'s Profile</a>
                    </li>
                    <li><a href="/" class="grey-text text-darken-2">Home</a>
                    </li>
                  </ul>
                </div>