
      <div class="container">
 
<ul class="collapsible">

{%for titles in content: %}         
          
  <li>
    <div class="collapsible-header"><a href="/admin?uri={{titles.uri}}"><div class="container">
      <i class="material-icons">book</i>
 <ul><li><h5>{{titles.title}}</h5></li><li>   
<span style="font-style: italic">{%if titles.author:%}{{titles.author}}{%else:%}{{titles.username}}{%endif%}</span></li><li><p style="overflow:hidden;text-overflow:ellipsis;" class="container ">{%if titles.description:%}{{titles.description}}{%endif%}{%if titles.reddit_url:%}<a href="https://www.reddit.com/{{titles.reddit_url}}">{{titles.reddit_url}}{%endif%}</p></ul> </div></a></div>

   {%endfor%}

  <ul>
</div>
